*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: monospace;
}
nav {
  display: flex;
  flex-direction: column;
  background: #D1D1D3;
  position: fixed;
  right: 0;
  padding:30px;
  height:200vh;
  transform:scale(0);
}
nav a{
  text-decoration:none;
  margin:10px;
}
nav span{
  position: absolute;
  right:0;
  top:0;
  margin:10px;
}
.top{
  padding:10px;
  text-align:center;
  border-bottom:1px solid #B8B8B8;
  font-size:10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top span{
  font-size:14px;
}
.root{
  padding:30px;
}
.root h1,p{
  font-family: monospace;
  margin:15px;
}
.code{
  padding:10px;
  background:#041235;
  color:white;
  font-family:monospace;
  margin:10px;
  overflow-y:scroll;
  border-radius:10px;
}
code{
  color:#FF00A5;
}
footer{
  height:50vh;
  background:#F0F0F0;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:5px;
  font-family: monospace;
}
footer a{
  text-decoration:none;
  color:#AAAAAA;
}